{% block body %}
<h2 style="text-align: center" >Listes des Aricles !</h2>
    <hr>
    <div class="well">
        {% for name in articles %}
        <h4>Article {{ name.title }}</h4>
        <div class="bs-component">
            <blockquote>
                <p>{{ name.content }}</p>
                <small>{{ name.author }}</small>
            </blockquote>
            {% else %}
                <li>Pas d'article trouvé.</li>
            {% endfor %}
    </div>


{% endblock %}


