{% extends('::base.html.twig') %}

{% block title %}
    Welcome home page!
{% endblock %}

{% block body %}

    <div class="content">
        <h1> <strong style="color: #3AA1BF; font-size: 60px">Welcome</strong> <small style="color: #F2385A;"> home </small><b style="color: #F5A503;">page!</b></h1>
        <svg viewBox="0 0 600 300">

            <!-- Symbol -->
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="50%" dy=".35em">
                    POP'
                </text>
            </symbol>

            <!-- Duplicate symbols -->
            <use xlink:href="#s-text" class="text"></use>
            <use xlink:href="#s-text" class="text"></use>
            <use xlink:href="#s-text" class="text"></use>
            <use xlink:href="#s-text" class="text"></use>
            <use xlink:href="#s-text" class="text"></use>

        </svg>
    </div>
    {% include('AppBundle:Article/Partial:list.html.twig') %}
{% endblock %}

