{% extends('::base.html.twig') %}

{% block title %}
    show article
{% endblock %}

{% block body %}
<h2 style="text-align: center" > <strong style="color:#F2385A; font-size: 60px">Listes</strong> <small style="color: #3AA1BF;"> Des </small><b style="color: #56D9CD;">Article!</b></h2>
<hr>
<div>
    <h4>{{ article.title }}</h4>
    <div class="bs-component">
        <blockquote>
            <p>{{ article.content }}</p>
            <small>{{ article.author }}</small>
        </blockquote>
    </div>
{% endblock %}